header{
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    padding-bottom: 10rem;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

/* ================CTA=================== */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
}


.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_social{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    
}

.Linkedin,.github{
    width: 1.7rem !important;
    height: 1.7rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
}
.linked,.githubs{
    display: flex;
    align-items: center;
}

.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 26rem;
    position:relative;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1rem 1rem 0;
    margin-bottom: 10rem;
}


/* ============= Medium Devices ================= */
@media screen and (max-width:1024px) {
    .header__container{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
    }
    .cta{
        margin: 2rem auto ;
    }
    .header_social{
        margin: auto;
    }
    .me{
        margin: 3rem auto;
    }
}

/* ============= Small Devices ================= */
@media screen and (max-width:600px) {
    .header__container{
        margin: 8rem auto;
    }
    .me{
        width: 17rem;
        margin: 3rem auto;
    }
    .header_social,.scroll__down{
        display: none;

    }
}